<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h3>회원정보수정(member1)</h3>
    <form th:action="@{/member1/update.do}" th:object="${member1}" method="post">
        <input type="text" name="id" th:field="${member1.id}" readonly/><br/>
        <input type="text" name="pw" th:field="${member1.pw}" readonly /><br/>
        <input type="text" name="name" th:field="${member1.name}"/><br/>
        <input type="text" name="age" th:field="${member1.age}"/><br/>
        <input type="submit" value="수정하기">
    </form>
</body>
</html>