<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.boot_20230427.mapper.MemberMapper">

    <insert id="memberJoin" parameterType="com.example.boot_20230427.dto.Member">
        INSERT INTO member(id,password,name,age,role) VALUES(#{id},#{password},#{name},#{age},#{role})
    </insert>

    <select id="selectMemberOne" parameterType="com.example.boot_20230427.dto.Member" resultType="com.example.boot_20230427.dto.Member">
        SELECT id, name, age, role FROM member WHERE id=#{id} AND password=#{password} 
    </select>

    <update id="updateMemberOne" parameterType="com.example.boot_20230427.dto.Member">
        UPDATE member SET name=#{name}, age=#{age} WHERE id=#{id} AND password=#{password}
    </update>

    <update id="deleteMemberOne" parameterType="com.example.boot_20230427.dto.Member">
        UPDATE member SET password=null, name=null, age=0, role=null, regdate=null WHERE id=#{id} AND password=#{password}
    </update>

</mapper>