<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.mapper.MemberMapper">
    
    
   
   <insert id="insertMemberOne" parameterType="com.example.dto.Member">
   INSERT INTO member(id, password, name, age, role)
		 VALUES(#{id}, #{password}, #{name}, #{age}, #{role}) 
     </insert>

    <select id="selectMemberone" parameterType="com.example.dto.Member" resultType="com.example.dto.Member">
  SELECT m.name, m.age,m.role,m.id FROM member m WHERE ID=#{id}
     </select>

     <select id="selectMemberone1" parameterType="string" resultType="com.example.dto.Member">
  SELECT * FROM member WHERE ID=#{id}
     </select>

      <select id="loginMember" parameterType="com.example.dto.Member" resultType="com.example.dto.Member">
  SELECT m.name, m.age,m.role,m.id FROM member m WHERE ID=#{id} AND password =#{password}
     </select>


     <update id="updateMember" parameterType="com.example.dto.Member">
     UPDATE member SET  name=#{name}, age=#{age} WHERE id=#{id}
     </update>

     <delete id="deleteMember" parameterType="com.example.dto.Member">
     DELETE FROM member WHERE id=#{id}
     </delete>

     <update id="updatepwMember" parameterType="com.example.dto.Member">
      UPDATE member SET password=#{newpassword} WHERE id=#{id} AND password=#{password}
     </update>
</mapper>