<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>게시판</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    게시판 번호<p th:text="${board.no}"></p> <br/>
    게시판 제목<p th:text="${board.title}"></p> <br/>
    게시판 작성자<p th:text="${board.writer}"></p> <br/>
    게시판 내용<p th:text="${board.content}"></p> <br/>
    게시판 조회수<p th:text="${board.hit}"></p> <br/>
    게시판 작성날짜<p th:text="${board.regdate}"></p>

    <a th:href="@{/board/update.do(no=${board.no})}">수정</a>

    <form th:action="@{/board/delete.do}" method="post">
        <input type="hidden" name="no" th:value="${board.no}"/>
        <input type="submit" value="삭제"/>
    </form>
</body>
</html>