<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>update</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form th:action="@{/board/update.do}" method="post">
        게시판 번호<input th:value="${board.no}" name="no" readonly></input> <br/>
        게시판 제목<input th:value="${board.title}" name="title"></input> <br/>
        게시판 작성자<input th:value="${board.writer}" name="writer"></input> <br/>
        게시판 내용<input th:value="${board.content}" name="content"></input> <br/>
        게시판 조회수<input th:value="${board.hit}" name="hit"></input> <br/>
        게시판 작성날짜<input th:value="${board.regdate}" readonly></input> <br/>
        <input type="submit" value="수정"/>
    </form>
</body>
</html>