<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>게시판 글쓰기</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <h3>게시판글수정</h3>
        <hr />
        <form th:action="@{/board/update.do}" method="post">
            <input type="text" name="no" th:value="${obj.no}" readonly><br/>
            <input type="text" name="title" th:value="${obj.title}"><br/>
            <input type="text" name="content" th:value="${obj.content}"><br/>
            <input type="text" name="writer" th:value="${obj.writer}"><br/>
            <input type="text" name="hit" th:value="${obj.hit}" readonly><br/>
            <input type="text"  th:value="${obj.regdate}" readonly><br/>
            <input type="submit" value="수정">
        </form>

    </div>
</body>
</html>