<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <td>이메일</td>
                <td>이름</td>
                <td>번호</td>
                <td>가입일자</td>
            </tr>
        </thead>
        <tr th:each="obj:${list}">
            <td th:text="${obj.semail}"></td>
            <td th:text="${obj.spassword}"></td>
            <td th:text="${obj.sname}"></td>
            <td th:text="${obj.sphone}"></td>
            <td th:text="${obj.regdate}"></td>
        </tr>
    </table>
    
</body>
</html>