<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/library2/insert.do}" method="post">
        이름 : <input type="text" name="lname"><br/>
        주소 : <input type="text" name="laddress" ><br/>
        번호 : <input type="text" name="lphone"><br/>
        <input type="submit" value="등록하기" >
    </form>
    
</body>
</html>