<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>카페등록</h3>
    <form th:action="@{/api/cafe/insert.json}" method="post">
        이름 : <input type="text" name="name" id="name"><br/>
        번호 : <input type="text" name="phone" id="phone"><br/>
        주소 : <input type="text" name="address" id="address"><br/>
        <input type="submit" value="등록하기">
    </form>
    
</body>
</html>